<html>
    <head>
        <title>Bahrom Kurbanovs Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Bahrom Kurbanovs Blog</a></h1>
        </div>

        <div>
            <p>published: 07/11/21, 19:08</p>
            <h2><a href="">My first post</a></h2>
            <p>I'm tryins to learn Django, I hope  iwill be a best programmer soon!</p>
        </div>

        <div>
            <p>published: 07/11/21, 19:12</p>
            <h2><a href="">My second post</a></h2>
            <p>this is my second post on pythonAnywhere!</p>
        </div>
    </body>
</html>